---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header";
import ExperienceSection from "../components/ExperienceSection";
import Footer from "../components/Footer";
import TechStacksSection from "../components/TechStacksSection";
import ProjectsSection from "../components/ProjectsSection";
import Hero from "../components/Hero";
---

<BaseLayout>
    <Header client:visible />

    <div class="flex flex-col gap-24 py-12 max-w-2xl mx-auto px-4">
        <Hero client:load />

        <TechStacksSection client:load />

        <ProjectsSection client:load />

        <ExperienceSection client:load />
    </div>

    <Footer />
</BaseLayout>
